/* pages */

/* Don't remove! */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Open Sans";
    src: url(../assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

body {
    font-family: "Open Sans";
    background-color: #363331;
    /* Background for all pages */
    /* background-color: #920000; */
}

a {
    outline: 0;
    text-decoration: none;
}

.cardBody {
    background-color: #363331;
    height: auto;
}

.cardContainer {
    text-align: center;
    display: inline-block;
    background-color: #363331;
    width: 80vw;
    padding-top: 25px;
}

.sideSpace {
    display: inline-block;
    width: 10vw;
}
