.breweryCard {
    height: 275px;
    width: 250px;
    background-image: linear-gradient(#f2f2f2, #b3b3b3);
    border-radius: 8px;
    overflow: auto;
    margin: 25px;
    display: inline-block;
    -moz-box-shadow: 0 0 15px #222222;
    -webkit-box-shadow: 0 0 15px #222222;
    box-shadow: 0 0 15px #222222;
}

.brewIcon {
    height: 75px;
    width: 75px;
    /* background-color: coral; */
    border-radius: 8px;
    /* margin-left: 87.5px; */
    margin-top: 25px;
}

.brewName {
    text-align: center;
    margin-top: 20px;
    width: 80%;
    height: 45px;
    margin-left: 10%;
}

.gMapsLogo {
    height: 45px;
    width: 45px;
    margin-top: 30px;
    bottom: 0;
}

.webLogo {
    height: 45px;
    width: 45px;
    margin-left: 115px;
    margin-top: 30px;
}
